{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon-16x16.png' %}">
    <title>PokeDex</title>
</head>
<body style="margin: 0; display: flex; justify-content: center; align-items: center; min-height: 100vh;
            background-image: url('{% static "images/wall.jpg" %}'); background-size: cover; background-position: center;">

    <div style="text-align: center">
        <img src="{% static 'images/pokedex.png' %}" style="max-width: 100%; height: auto; padding: 1rem;">
    </div>
    <button style="text-align: center;" >text</button>
</body>
      
</body>
</html>